.header{
    background-color: lightblue;
    height:100px;
}

.cart-div{
    float: right;
    margin:25px;
    position: relative;
}

.cart-div span{
    position: absolute;
    z-index: 0;
    background-color: rgb(116, 197, 224) ;
    height:30px;
    width:30px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    top:-10px;
    text-align: center;
    padding: 2px;
    right:0;

}